In [3]:
import pandas as pd

In [4]:
customer = pd.read_csv('./customer_churn.csv')

In [5]:
customer.head(5)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [40]:
x=customer[['tenure']]
x.head()

   tenure
0       1
1      34
2       2
3      45
4       2

In [13]:
y = customer[['Churn']]

In [14]:
from sklearn.linear_model import LogisticRegression

In [15]:
log_model = LogisticRegression()

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.35)

In [19]:
log_model.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [20]:
y_pred = log_model.predict(x_test)

In [21]:
y_test.head()

     Churn
4740   Yes
5992   Yes
5091   Yes
6990    No
6420    No

In [23]:
y_pred[:5]

array(['No', 'No', 'No', 'No', 'No'], dtype=object)

In [24]:
from sklearn.metrics import confusion_matrix

In [27]:
confusion_matrix(y_test,y_pred)

array([[1790,    4],
       [ 672,    0]], dtype=int64)

In [28]:
actual_percent = ((1790+0)/(1790+4+672+0))*100

In [37]:
f"Acual percentage is {actual_percent} % "

'Acual percentage is 72.58718572587186 % '

0.125